{% extends 'base.html.twig' %}

{% block main %}

    <h1>Hello, {{ user.email }}</h1>

    <img src="{{ asset('uploads/images/users/') ~ user.image}}" height="200px" width="180px" class="img-rounded">

    <h3>Full Name: {{ user.fullName }}</h3>

    <a href="{{ path('user_profile_edit') }}" class="btn btn-primary btn-sm">Edit Profile</a>

{% endblock %}